@import './common.scss';
.footer{
	width:100%;
	border-top:2px solid #ccc;
	background:$whitecolor;
}

.login{
	width:100%;
	display:flex;
	justify-content:space-between;
	line-height:50px;
	margin-bottom:20px;
}

.left{
	margin-left:10px;
	a{
		padding:5px;
		border:1px solid $basecolor;
		color:$basecolor;
		border-radius:10%;
	}
}
.right{
	margin-right:10px;
	span{
		padding:8px 12px;
		border:1px solid $basecolor;
		color:$basecolor;
		border-radius:10%;
	}
}
.navlist{
	width:100%;
	display:flex;
	align-items:center;
	margin-bottom:20px;
	a{
		flex:1;
		text-align:center;
		border-right:1px solid #333;
		&:last-child{
			border:none;
		}
		color:$basecolor;
	}
}

.tip{
	width:100%;
	text-align:center;
	margin-bottom:10px;
	a{
		color:$basecolor;
	}
}